# 02 Exploratory Data Analysis

In this notebook we will explore our dataset and understand what needs to be done. Any work that we need to do on our data to make it clean will be done in the next notebook (03_process_data)

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Load Data

In [2]:
climate_df = pd.read_csv("../data/climate-daily.csv")
speed_df = pd.read_csv("../data/speed_limits.csv")
accident_df = pd.read_csv("../data/traffic_accidents.csv")

In [10]:
print("Exploring Climate Data:")
display(climate_df.head())
print("Data shape:", climate_df.shape)
print("\n ----- \n")

print("Exploring Speed Limit Data:")
display(speed_df.head())
print(speed_df.shape)
print("\n ----- \n")

print("Exploring Traffic Accident Data:")
display(accident_df.head())
print(accident_df.shape)

Exploring Climate Data:

,x,y,STATION_NAME,CLIMATE_IDENTIFIER,ID,LOCAL_DATE,PROVINCE_CODE,LOCAL_YEAR,LOCAL_MONTH,LOCAL_DAY,...,SPEED_MAX_GUST,SPEED_MAX_GUST_FLAG,COOLING_DEGREE_DAYS,COOLING_DEGREE_DAYS_FLAG,HEATING_DEGREE_DAYS,HEATING_DEGREE_DAYS_FLAG,MIN_REL_HUMIDITY,MIN_REL_HUMIDITY_FLAG,MAX_REL_HUMIDITY,MAX_REL_HUMIDITY_FLAG
0,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.1,2016-03-01 00:00:00,AB,2016,3,1,...,35.0,NaN,0.0,NaN,18.6,NaN,NaN,NaN,NaN,NaN
1,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.2,2016-03-02 00:00:00,AB,2016,3,2,...,33.0,NaN,0.0,NaN,19.3,NaN,NaN,NaN,NaN,NaN
2,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.3,2016-03-03 00:00:00,AB,2016,3,3,...,57.0,NaN,0.0,NaN,14.0,NaN,NaN,NaN,NaN,NaN
3,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.4,2016-03-04 00:00:00,AB,2016,3,4,...,0.0,NaN,0.0,NaN,14.2,NaN,NaN,NaN,NaN,NaN
4,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.5,2016-03-05 00:00:00,AB,2016,3,5,...,57.0,NaN,0.0,NaN,11.4,NaN,NaN,NaN,NaN,NaN

Data shape: (3589, 36)

 -----

Exploring Speed Limit Data:

,Unnamed: 0,bound,distance,speed,street_name,modified_attribute_dt,multiline,created_dt
0,0,N/S,4.182650,60.0,TWELVE MILE COULEE RD,2012-08-20T14:38:13.000Z,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN
1,1,E,1.854020,60.0,JOHN LAURIE BV,NaN,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN
2,2,W,1.545420,60.0,JOHN LAURIE BV,NaN,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN
3,3,W,0.475805,60.0,CROWCHILD TR,NaN,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN
4,4,N/S,0.824963,60.0,11 ST,NaN,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN

(3634, 8)

 -----

Exploring Traffic Accident Data:

,Unnamed: 0,incident_info,description,start_dt,modified_dt,quadrant,longitude,latitude,count,id,point,:@computed_region_kxmf_bzkv,:@computed_region_4a3i_ccfj,:@computed_region_4b54_tmc4
0,0,Westbound Stoney Trail after Sarcee Trail NW,Two vehicle incident. Blocking the left lane,2026-01-07T14:53:09.000,2026-01-07T07:56:40.000,NW,-114.170364,51.151815,1,2026-01-07T14:53:0951.15181499196338-114.17036...,"{'type': 'Point', 'coordinates': [-114.1703639...",202.0,2.0,3.0
1,1,Southbound Deerfoot Trail approaching country...,Two vehicle incident. Blocking the left lane,2026-01-07T14:46:49.000,2026-01-07T07:56:40.000,NE,-114.010579,51.159486,1,2026-01-07T14:46:4951.15948611863427-114.01057...,"{'type': 'Point', 'coordinates': [-114.0105792...",163.0,4.0,11.0
2,2,Eastbound Glenmore Trail after Blackfoot Trai...,Two vehicle incident. Blocking the centre lane,2026-01-07T14:33:52.000,2026-01-07T07:56:40.000,SE,-114.047988,50.994339,1,2026-01-07T14:33:5250.99433858658668-114.04798...,"{'type': 'Point', 'coordinates': [-114.0479878...",1.0,3.0,10.0
3,3,Eastbound Mcknight Blvd at Deerfoot Trail NE,Two vehicle incident. Blocking the left lane,2026-01-07T13:59:21.000,2026-01-07T07:56:40.000,NE,-114.039824,51.096056,1,2026-01-07T13:59:2151.096056352608926-114.0398...,"{'type': 'Point', 'coordinates': [-114.0398235...",81.0,4.0,9.0
4,4,Northbound Harvest Hills Boulevard ramp to Ea...,Traffic incident. Blocking the right shoulder,2026-01-07T04:56:28.000,2026-01-06T22:00:34.000,NE,-114.067002,51.172630,1,2026-01-07T04:56:2851.17262999470791-114.06700...,"{'type': 'Point', 'coordinates': [-114.0670022...",251.0,4.0,11.0

(50000, 14)

### Visually Inspect Data Types

In [12]:
print(climate_df.dtypes)

x                           float64
y                           float64
STATION_NAME                 object
CLIMATE_IDENTIFIER            int64
ID                           object
LOCAL_DATE                   object
PROVINCE_CODE                object
LOCAL_YEAR                    int64
LOCAL_MONTH                   int64
LOCAL_DAY                     int64
MEAN_TEMPERATURE            float64
MEAN_TEMPERATURE_FLAG        object
MIN_TEMPERATURE             float64
MIN_TEMPERATURE_FLAG         object
MAX_TEMPERATURE             float64
MAX_TEMPERATURE_FLAG         object
TOTAL_PRECIPITATION         float64
TOTAL_PRECIPITATION_FLAG     object
TOTAL_RAIN                  float64
TOTAL_RAIN_FLAG              object
TOTAL_SNOW                  float64
TOTAL_SNOW_FLAG              object
SNOW_ON_GROUND              float64
SNOW_ON_GROUND_FLAG          object
DIRECTION_MAX_GUST          float64
DIRECTION_MAX_GUST_FLAG      object
SPEED_MAX_GUST              float64
SPEED_MAX_GUST_FLAG          object
COOLING_DEGREE_DAYS         float64
COOLING_DEGREE_DAYS_FLAG     object
HEATING_DEGREE_DAYS         float64
HEATING_DEGREE_DAYS_FLAG     object
MIN_REL_HUMIDITY            float64
MIN_REL_HUMIDITY_FLAG        object
MAX_REL_HUMIDITY            float64
MAX_REL_HUMIDITY_FLAG        object
dtype: object

In [13]:
print(speed_df.dtypes)

Unnamed: 0                 int64
bound                     object
distance                 float64
speed                    float64
street_name               object
modified_attribute_dt     object
multiline                 object
created_dt                object
dtype: object

In [14]:
print(accident_df.dtypes)

Unnamed: 0                       int64
incident_info                   object
description                     object
start_dt                        object
modified_dt                     object
quadrant                        object
longitude                      float64
latitude                       float64
count                            int64
id                              object
point                           object
:@computed_region_kxmf_bzkv    float64
:@computed_region_4a3i_ccfj    float64
:@computed_region_4b54_tmc4    float64
dtype: object

### Check for Nulls/Missing Data

In [20]:
climate_df.isnull().sum()

x                              0
y                              0
STATION_NAME                   0
CLIMATE_IDENTIFIER             0
ID                             0
LOCAL_DATE                     0
PROVINCE_CODE                  0
LOCAL_YEAR                     0
LOCAL_MONTH                    0
LOCAL_DAY                      0
MEAN_TEMPERATURE              36
MEAN_TEMPERATURE_FLAG       3552
MIN_TEMPERATURE               31
MIN_TEMPERATURE_FLAG        3552
MAX_TEMPERATURE               36
MAX_TEMPERATURE_FLAG        3552
TOTAL_PRECIPITATION           47
TOTAL_PRECIPITATION_FLAG    3542
TOTAL_RAIN                  3589
TOTAL_RAIN_FLAG             2732
TOTAL_SNOW                  3589
TOTAL_SNOW_FLAG             2732
SNOW_ON_GROUND              2134
SNOW_ON_GROUND_FLAG         3499
DIRECTION_MAX_GUST           829
DIRECTION_MAX_GUST_FLAG     3554
SPEED_MAX_GUST               829
SPEED_MAX_GUST_FLAG         3554
COOLING_DEGREE_DAYS           36
COOLING_DEGREE_DAYS_FLAG    3552
HEATING_DEGREE_DAYS           36
HEATING_DEGREE_DAYS_FLAG    3552
MIN_REL_HUMIDITY             827
MIN_REL_HUMIDITY_FLAG       3557
MAX_REL_HUMIDITY             826
MAX_REL_HUMIDITY_FLAG       3558
dtype: int64

In [21]:
speed_df.isnull().sum()

Unnamed: 0                  0
bound                     424
distance                 3193
speed                       2
street_name               156
modified_attribute_dt     119
multiline                   1
created_dt                254
dtype: int64

In [22]:
accident_df.isnull().sum()

Unnamed: 0                         0
incident_info                      0
description                        2
start_dt                           0
modified_dt                    14057
quadrant                       14057
longitude                          0
latitude                           0
count                              0
id                                 0
point                              0
:@computed_region_kxmf_bzkv      223
:@computed_region_4a3i_ccfj      223
:@computed_region_4b54_tmc4      226
dtype: int64

### Check for Duplicates

In [28]:
print("Climate data:", climate_df.duplicated().sum())
print("Speed data:", speed_df.duplicated().sum())
print("Accident data:", accident_df.duplicated().sum())

Climate data: 0
Speed data: 0
Accident data: 0

### Individual Analysis
Looking at specific rows or columns in our data that we will use

In [52]:
def identify_outliers(df, column_name):

    plt.boxplot(df[column_name].dropna())
    plt.title(f'Box Plot with Outliers for {column_name}')

    # Display the plot
    plt.show()

### Observations:

Overall, the data is very clean. This is likely because it comes from reputable sources that likely did their own data cleaning before publishing it online. However, for this project there is some additional cleaning and preparation that I will do to the data. Some of the observations that I will act on includes:
1. Different column naming standards. Some data is all lowercase will some is all uppercase
2. The climate data has a large number of null values in the columns for snowfall. This is because a day with zero snowfall will have a NaN instead of a 0.
3. Our speed limit data has a few null values that we need to either fill in or remove
4. Street names has different spellings, naming conventions, and abbreviations.
5. Deerfoot is missing from the dataset.