# 03 Processing

### Setup

#### Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Load Data

In [3]:
# Load in dataframes
climate_raw = pd.read_csv("../data/climate-daily.csv")
speeds_raw = pd.read_csv("../data/speed_limits.csv")
traffic_raw = pd.read_csv("../data/traffic_accidents.csv")

In [4]:
# Show first 5 records of each DF
display(climate_raw.head())
display(speeds_raw.head())
display(traffic_raw.head())

,x,y,STATION_NAME,CLIMATE_IDENTIFIER,ID,LOCAL_DATE,PROVINCE_CODE,LOCAL_YEAR,LOCAL_MONTH,LOCAL_DAY,...,SPEED_MAX_GUST,SPEED_MAX_GUST_FLAG,COOLING_DEGREE_DAYS,COOLING_DEGREE_DAYS_FLAG,HEATING_DEGREE_DAYS,HEATING_DEGREE_DAYS_FLAG,MIN_REL_HUMIDITY,MIN_REL_HUMIDITY_FLAG,MAX_REL_HUMIDITY,MAX_REL_HUMIDITY_FLAG
0,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.1,2016-03-01 00:00:00,AB,2016,3,1,...,35.0,NaN,0.0,NaN,18.6,NaN,NaN,NaN,NaN,NaN
1,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.2,2016-03-02 00:00:00,AB,2016,3,2,...,33.0,NaN,0.0,NaN,19.3,NaN,NaN,NaN,NaN,NaN
2,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.3,2016-03-03 00:00:00,AB,2016,3,3,...,57.0,NaN,0.0,NaN,14.0,NaN,NaN,NaN,NaN,NaN
3,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.4,2016-03-04 00:00:00,AB,2016,3,4,...,0.0,NaN,0.0,NaN,14.2,NaN,NaN,NaN,NaN,NaN
4,-114.000297,51.109447,CALGARY INT'L CS,3031094,3031094.2016.3.5,2016-03-05 00:00:00,AB,2016,3,5,...,57.0,NaN,0.0,NaN,11.4,NaN,NaN,NaN,NaN,NaN

,Unnamed: 0,bound,distance,speed,street_name,modified_attribute_dt,multiline,created_dt
0,0,N/S,4.182650,60.0,TWELVE MILE COULEE RD,2012-08-20T14:38:13.000Z,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN
1,1,E,1.854020,60.0,JOHN LAURIE BV,NaN,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN
2,2,W,1.545420,60.0,JOHN LAURIE BV,NaN,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN
3,3,W,0.475805,60.0,CROWCHILD TR,NaN,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN
4,4,N/S,0.824963,60.0,11 ST,NaN,"{'type': 'MultiLineString', 'coordinates': [[[...",NaN

,Unnamed: 0,incident_info,description,start_dt,modified_dt,quadrant,longitude,latitude,count,id,point,:@computed_region_kxmf_bzkv,:@computed_region_4a3i_ccfj,:@computed_region_4b54_tmc4
0,0,Westbound Stoney Trail after Sarcee Trail NW,Two vehicle incident. Blocking the left lane,2026-01-07T14:53:09.000,2026-01-07T07:56:40.000,NW,-114.170364,51.151815,1,2026-01-07T14:53:0951.15181499196338-114.17036...,"{'type': 'Point', 'coordinates': [-114.1703639...",202.0,2.0,3.0
1,1,Southbound Deerfoot Trail approaching country...,Two vehicle incident. Blocking the left lane,2026-01-07T14:46:49.000,2026-01-07T07:56:40.000,NE,-114.010579,51.159486,1,2026-01-07T14:46:4951.15948611863427-114.01057...,"{'type': 'Point', 'coordinates': [-114.0105792...",163.0,4.0,11.0
2,2,Eastbound Glenmore Trail after Blackfoot Trai...,Two vehicle incident. Blocking the centre lane,2026-01-07T14:33:52.000,2026-01-07T07:56:40.000,SE,-114.047988,50.994339,1,2026-01-07T14:33:5250.99433858658668-114.04798...,"{'type': 'Point', 'coordinates': [-114.0479878...",1.0,3.0,10.0
3,3,Eastbound Mcknight Blvd at Deerfoot Trail NE,Two vehicle incident. Blocking the left lane,2026-01-07T13:59:21.000,2026-01-07T07:56:40.000,NE,-114.039824,51.096056,1,2026-01-07T13:59:2151.096056352608926-114.0398...,"{'type': 'Point', 'coordinates': [-114.0398235...",81.0,4.0,9.0
4,4,Northbound Harvest Hills Boulevard ramp to Ea...,Traffic incident. Blocking the right shoulder,2026-01-07T04:56:28.000,2026-01-06T22:00:34.000,NE,-114.067002,51.172630,1,2026-01-07T04:56:2851.17262999470791-114.06700...,"{'type': 'Point', 'coordinates': [-114.0670022...",251.0,4.0,11.0

### Clean Data

For each of our three datasets, we will:
1. Change column data types or value formats
2. Filter columns to only work with what we need
3. Rename columns
4. Remove/fill-in NaN values

#### Traffic Data

In [5]:
# Change start_dt column to a datetime format, and parse out the time part of the date
traffic_raw["start_dt"] = pd.to_datetime(traffic_raw["start_dt"])
traffic_raw["date"] = traffic_raw["start_dt"].dt.date

In [6]:
# Filter out columns
traffic_raw = traffic_raw[['date', 'incident_info', 'quadrant']]
traffic_raw.columns

Index(['date', 'incident_info', 'quadrant'], dtype='object')

In [7]:
# We have no nulls that need to be removed
traffic_raw.isna().sum()

date                 0
incident_info        0
quadrant         14057
dtype: int64

#### Speed Limit Data

In [8]:
# Filter out columns we don't need
speeds_raw = speeds_raw[['street_name', 'speed', 'created_dt', 'modified_attribute_dt']]

In [9]:
# Rename select columns
speeds_raw.rename(columns={
    'speed': 'speed_limit',
    'created_dt': 'created_date',
    'modified_attribute_dt': 'modified_date'
}, inplace=True)

In [10]:
# Remove null values, using street name as the primary column
speeds_raw.dropna(subset=['street_name'], inplace=True)
speeds_raw.isna().sum()

street_name        0
speed_limit        0
created_date     254
modified_date     38
dtype: int64

#### Climate Data

In [11]:
# Change local_date to datetime format
climate_raw["LOCAL_DATE"] = pd.to_datetime(climate_raw["LOCAL_DATE"])

In [12]:
climate_raw = climate_raw[['LOCAL_DATE', 'MEAN_TEMPERATURE', 'MIN_TEMPERATURE', 'MAX_TEMPERATURE', 'TOTAL_PRECIPITATION', 'SNOW_ON_GROUND']]

In [13]:
# Rename columns to be all lowercase, and match the other two datasets
climate_raw.rename(str.lower, axis='columns', inplace=True)
climate_raw.rename(columns={'local_date':'date'}, inplace=True)

In [14]:
# For our records where snow_on_ground is null, fill them in with 0. This is because there is no (zero) snow on the ground
climate_raw['snow_on_ground'] = climate_raw['snow_on_ground'].fillna(0)

In [15]:
climate_raw.isna().sum()

date                    0
mean_temperature       36
min_temperature        31
max_temperature        36
total_precipitation    47
snow_on_ground          0
dtype: int64

### Process Data

In [16]:
# Refresher on our dataframes and data
display(climate_raw.head())
display(speeds_raw.head())
display(traffic_raw.head())

,date,mean_temperature,min_temperature,max_temperature,total_precipitation,snow_on_ground
0,2016-03-01,-0.6,-6.9,5.8,0.2,1.0
1,2016-03-02,-1.3,-4.1,1.6,0.0,1.0
2,2016-03-03,4.0,-4.3,12.3,0.0,1.0
3,2016-03-04,3.8,-5.2,12.8,0.0,0.0
4,2016-03-05,6.6,-3.7,16.8,0.0,1.0

             street_name  speed_limit created_date             modified_date
0  TWELVE MILE COULEE RD         60.0          NaN  2012-08-20T14:38:13.000Z
1         JOHN LAURIE BV         60.0          NaN                       NaN
2         JOHN LAURIE BV         60.0          NaN                       NaN
3           CROWCHILD TR         60.0          NaN                       NaN
4                  11 ST         60.0          NaN                       NaN

         date                                      incident_info quadrant
0  2026-01-07      Westbound Stoney Trail after Sarcee Trail NW        NW
1  2026-01-07   Southbound Deerfoot Trail approaching country...       NE
2  2026-01-07   Eastbound Glenmore Trail after Blackfoot Trai...       SE
3  2026-01-07      Eastbound Mcknight Blvd at Deerfoot Trail NE        NE
4  2026-01-07   Northbound Harvest Hills Boulevard ramp to Ea...       NE

##### Join Weather and Traffic Data

In [55]:
traffic_agg = traffic_raw[['date', 'incident_info']].groupby("date").count().rename(columns={'incident_info':'count'}).reset_index()

In [76]:
# Aggregate the data to do a count of unique rows for each date, and rename the column
traffic_agg = traffic_raw[['date', 'incident_info']].groupby("date").count().reset_index()

traffic_agg["date"] = pd.to_datetime(traffic_agg["date"])
traffic_agg.head()

        date  incident_info
0 2018-07-05             18
1 2018-07-06             18
2 2018-07-07             11
3 2018-07-08              7
4 2018-07-09             21

In [78]:
# Join our traffic accident data with our weather data. 
# Since there are some dates in the climate data that aren't in the traffic data, so we need to drop those rows
traffic_temperature_agg = pd.merge(traffic_agg, climate_raw, on='date', how='left')
traffic_temperature_agg = traffic_temperature_agg.dropna()

In [79]:
traffic_temperature_agg.head()

,date,incident_info,mean_temperature,min_temperature,max_temperature,total_precipitation,snow_on_ground
0,2018-07-05,18,17.0,8.3,25.6,0.0,0.0
1,2018-07-06,18,22.5,12.1,32.9,0.2,0.0
2,2018-07-07,11,17.7,10.7,24.6,0.0,0.0
3,2018-07-08,7,15.2,6.2,24.2,0.0,0.0
4,2018-07-09,21,18.3,9.0,27.7,0.0,0.0

In [81]:
# Save our cleaned and refined data to a CSV to avoid having to repeat all of the above steps
traffic_temperature_agg.to_csv('../data/traffic_temperature_agg.csv')

##### Join Speed Limit and Traffic Data

In [ ]:
# Make a copy of our raw traffic DF
traffic_roads_parsed = traffic_raw.copy()

In [82]:
# Parse out direction and quadrants, to only get the road name
# For example, Deerfoot North and Deetfoot South has the same speed limit

pattern = (
    r"^\s*"
    r"(?:(Westbound|Eastbound|Northbound|Southbound)\s+)?"
    r"(.+?)"
    r"(?:\s+(NW|NE|SW|SE))?"
    r"\s*$"
)

traffic_roads_parsed[["direction", "location", "quadrant"]] = (
    traffic_roads_parsed["incident_info"]
    .str.strip()
    .str.extract(pattern)
)

In [83]:
traffic_roads_parsed.head()

,date,incident_info,quadrant,direction,location,street_name,road_name_clean
0,2026-01-07,Westbound Stoney Trail after Sarcee Trail NW,NW,Westbound,Stoney Trail after Sarcee Trail,stoney trail,stoney
1,2026-01-07,Southbound Deerfoot Trail approaching country...,NE,Southbound,Deerfoot Trail approaching country Hills Boule...,deerfoot trail,deerfoot
2,2026-01-07,Eastbound Glenmore Trail after Blackfoot Trai...,SE,Eastbound,Glenmore Trail after Blackfoot Trail,glenmore trail,glenmore
3,2026-01-07,Eastbound Mcknight Blvd at Deerfoot Trail NE,NE,Eastbound,Mcknight Blvd at Deerfoot Trail,mcknight blvd,mcknight
4,2026-01-07,Northbound Harvest Hills Boulevard ramp to Ea...,NW,Northbound,Harvest Hills Boulevard ramp to Eastbound Ston...,harvest hills boulevard ramp,harvest hills

In [84]:
# The descriptions contain the exact location, but we only want the general road that the accident occured on
# For example, "Deerfoot North before Stoney Trail" should just be "Deerfoot"
keywords = r"after|before|at|near|approaching|between|and|to"

traffic_roads_parsed["street_name"] = (
    traffic_roads_parsed["location"]
    .str.lower()
    .str.split(rf"\s+({keywords})\b", n=1)
    .str[0]
    .str.strip()
)

In [87]:
def remove_street_name(dataframe):

    # Words to remove
    words_to_remove = ['drive', 'street', 'trail', 'avenue', 'boulevard', 'blvd', 'ramp', 'dr', 'gate', 'av', 'rd', 'pl', 'wy', 'cr', 'st', 'bv', 'hl', 'tr', 'hi w']

    # Create a regex pattern: \b = word boundary, | = or
    pattern = r'\b(?:' + '|'.join(words_to_remove) + r')\b'

    # Replace with empty string, case-insensitive
    dataframe['road_name_clean'] = dataframe['street_name'].str.replace(pattern, '', case=False, regex=True)

    # Optional: strip extra whitespace
    dataframe['road_name_clean'] = dataframe['road_name_clean'].str.strip()

    return dataframe

In [ ]:
# Call our function to clean the columns
traffic_roads_parsed = remove_street_name(traffic_roads_parsed)

In [91]:
# Sort the values by modified_date and drop any duplicates where there are mutliple speed limits for the same street
speeds_filtered = speeds_raw.sort_values('modified_date', ascending=False) \
                        .drop_duplicates(subset='street_name', keep='first')

In [92]:
# Ensure that all street names are lowercase
speeds_filtered['street_name'] = speeds_filtered['street_name'].str.lower()

In [93]:
# Similar to above, I'm removing the direction of the street, because Deerfoot NE is the same as Deerfoot SE

pattern = (
    r"^\s*"
    r"(.+?)"
    r"(?:\s+(nw|ne|sw|se))?"
    r"\s*$"
)

speeds_filtered[["street_name", "direction"]] = (
    speeds_filtered["street_name"]
    .str.strip()
    .str.extract(pattern)
)

In [96]:
speeds_filtered = remove_street_name(speeds_filtered)

In [98]:
# One of the major roads in Calgary is called Deerfoot, however, Deerfoot is legally a provincial road and not a municipal road.
# This causes issues because the speed limit is not in our dataset, but it is a major road where many accidents occur.
# To fix this, we will manually add it.
deerfoot_row = {'street_name': 'deerfoot', 'speed_limit': 100.0, 'created_date': None, 'modified_date': None, 'direction': None, 'road_name_clean': 'deerfoot'}
speeds_filtered.loc[len(speeds_filtered)] = deerfoot_row

In [99]:
# Filter out any rows that has a duplicate road name
speeds_filtered = speeds_filtered.sort_values(by='speed_limit', ascending=False).drop_duplicates(subset=['road_name_clean'], keep='first')

In [100]:
# Merge our traffic/accident dataset with the speed limit data
roads_with_speeds = pd.merge(traffic_roads_parsed, speeds_filtered, on='road_name_clean', how='left')

In [101]:
roads_with_speeds.head()

,date,incident_info,quadrant,direction_x,location,street_name_x,road_name_clean,street_name_y,speed_limit,created_date,modified_date,direction_y
0,2026-01-07,Westbound Stoney Trail after Sarcee Trail NW,NW,Westbound,Stoney Trail after Sarcee Trail,stoney trail,stoney,stoney tr,100.0,2012-08-08T11:49:57.000Z,2018-10-28T15:27:59.000Z,nw
1,2026-01-07,Southbound Deerfoot Trail approaching country...,NE,Southbound,Deerfoot Trail approaching country Hills Boule...,deerfoot trail,deerfoot,deerfoot,100.0,None,None,None
2,2026-01-07,Eastbound Glenmore Trail after Blackfoot Trai...,SE,Eastbound,Glenmore Trail after Blackfoot Trail,glenmore trail,glenmore,glenmore tr,80.0,2018-10-31T07:59:45.000Z,2018-10-31T08:06:05.000Z,se
3,2026-01-07,Eastbound Mcknight Blvd at Deerfoot Trail NE,NE,Eastbound,Mcknight Blvd at Deerfoot Trail,mcknight blvd,mcknight,mcknight bv,50.0,2021-06-10T10:52:42.000Z,2021-06-10T10:53:03.000Z,nw
4,2026-01-07,Northbound Harvest Hills Boulevard ramp to Ea...,NW,Northbound,Harvest Hills Boulevard ramp to Eastbound Ston...,harvest hills boulevard ramp,harvest hills,harvest hills dr,50.0,2021-06-08T14:27:45.000Z,2021-06-08T14:30:43.000Z,ne

In [102]:
# Throughout our work, the date has been reverted back to object. We need to make it a date again
roads_with_speeds['date'] = pd.to_datetime(roads_with_speeds['date'])

In [103]:
# Using our above dataframe, find the number of records for each date and speed limit.
# For this analysis, it doesn't matter if an accident occured on Deerfoot or Stoney trail, because both roads have a speed limit of 100 KM/h
accidents_with_speeds_agg = roads_with_speeds.groupby(['date', 'speed_limit']).size().reset_index(name='count')

In [105]:
accidents_with_speeds_agg.head()

        date  speed_limit  count
0 2018-07-05         40.0      1
1 2018-07-05         50.0      9
2 2018-07-05         70.0      3
3 2018-07-05         80.0      2
4 2018-07-05        100.0      2

In [ ]:
# Save our data to a CSV to avoid having to do all of the above steps if something goes wrong
accidents_with_speeds_agg.to_csv("../data/accidents_with_speeds_agg.csv")